.container__title{
  margin-bottom: 1rem;
  padding: 1rem;
  position: absolute;
  top: 120px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.container__form {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 1rem;
  position: absolute;
  top: 370px;
}