.footer {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--fourth-color);
  color: var(--first-color);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer a {
  color: var(--first-color);
  font-weight: 700;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin-top: 1rem;
}

.working .footer {
  background-color: var(--first-color);
  color: var(--fourth-color);
}

.working .footer a {
  color: var(--fourth-color);
}