:root {
  --first-color: #530C0C;
  --second-color: #8F0E0E;
  --third-color: #fd3838;
  --fourth-color: #F7F6DE;
  --title-font-family: 'Poppins', sans-serif;
  --subtitle-font-family: 'Rasa', serif;
  --text-font-family: 'Nunito Sans', sans-serif;
  --tomato-color: #FF6347;
  --leaves-color: #A8B848;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  transition: all 1s ease-in-out;
}

body {
  font-family: var(--text-font-family);
  background-color: var(--first-color);
  color: var(--fourth-color);
  line-height: 1.5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  flex-direction: column;
}

.hidden {
  display: none;
}

.pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-image:
    radial-gradient(
      var(--second-color) 50%,
      transparent 50%
    ),
    radial-gradient(
      var(--second-color) 50%,
      transparent 50%
    );
  background-position: 100% 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 75%;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  position: relative;
}

.pomodoro h2 {
  font-family: var(--title-font-family);
  font-size: 22px;
  color: var(--fourth-color);
  margin-bottom: 1rem;
}

.pomodoro h3 {
  font-family: var(--subtitle-font-family);
  font-size: 30px;
  color: var(--fourth-color);
}

.pomodoro .timer {
  font-size: 4rem;
  color: var(--fourth-color);
}

.pomodoro .controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 1rem;
}

.pomodoro button {
  background-color: var(--fourth-color);
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  min-width: 105px;
  border-radius: 15px;
  font-family: var(--text-font-family);
  font-size: 1rem;
  transition: all 200ms ease-in-out;
}

.pomodoro button:hover {
  background-color: var(--second-color);
  color: var(--fourth-color);
  box-shadow: 0 0 0 2px var(--fourth-color) inset;
}

.pomodoro button:focus {
  outline: none;
}

.pomodoro button:active {
  transform: scale(0.90);
}

.working {
  background-color: var(--fourth-color);
  color: var(--first-color);
}

.working .pomodoro {
  background-image:
    radial-gradient(
      var(--third-color) 50%,
      transparent 50%
    ),
    radial-gradient(
      var(--third-color) 50%,
      transparent 50%
    );
  background-position: 100% 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 75%;
}

.working .pomodoro h2, .working .pomodoro h3, .working .pomodoro .timer {
  color: var(--first-color);
}

.working .pomodoro button {
  background-color: var(--first-color);
  color: var(--fourth-color);
}

.working .pomodoro button:hover {
  background-color: var(--third-color);
  color: var(--first-color);
  box-shadow: 0 0 0 2px var(--first-color) inset;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  background-color: var(--second-color);
  padding: 1rem;
  border-radius: 15px;
  color: var(--fourth-color);
  font-family: var(--text-font-family);
  font-weight: bold;
}

.working .details {
  background-color: var(--third-color);
  color: var(--first-color);
}

.pomodoroTop {
  background: var(--leaves-color);
  height: 48px;
  width: 48px;
  border-radius: 48px 0 48px 0;
  position: absolute;
  transform: rotateZ(135deg);
  top: 75px;
  z-index: 1;
  left: 200px;
  transition: all .2s ease-in-out;
}

.pomodoroTop::before {
  content: "";
  background: var(--leaves-color);
  height: 48px;
  width: 48px;
  border-radius: 48px 0 48px 0;
  position: absolute;
  z-index: 1;
  transform: rotateZ(90deg);
  top: 36px;
  transition: all .2s ease-in-out;
}

.pomodoroTop::after {
  content: "";
  background: var(--leaves-color);
  height: 48px;
  width: 48px;
  border-radius: 48px 0 48px 0;
  position: absolute;
  z-index: 1;
  transform: rotateZ(90deg);
  top: 0px;
  right: 39px;
  transition: all .2s ease-in-out;
}
